

.pronounceLink{
    color: #2f2f2f;
    font-size: 16px;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border: 1px solid #222222;
    cursor: pointer;
}

.pronounceLink:hover{
    background-color: #2f2f2f;
    color: #ffffff;
}